<footer class="bg-black ph3 pv4 white">

	<div class="mw8 center pt3 ph3">

		<div class="flex-ns justify-between">

			<div class="mb2">
				<p class="b mb1">Hexagon Bio</p>
				<p class="f6 mb1">1505 Adams Drive, Suite A<br />
				Menlo Park, CA 94025<br />
				info@hexagonbio.com</p>
			</div>


			<div>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "http://twitter.com/@hexagonbio" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.linkedin.com/company/hexagon-bio" "svg" "icons-linkedin") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg-alt" . }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/app.js"></script>

</body>

</html>
