<!-- <img src="{{.imageUrl}}" class="header-image"> -->
<div class="video-div">
    <div class="gradient"></div>
    <video loop muted autoplay class="video-bg">
        <source src="/img/videobg.mp4" type="video/mp4">
    </video>
    <div class="pv5 pv6-l ph4 home-header-text">
      <div class="mw8 ph4">
        <div class="db mb3">
          <div class="mw7 relative bg-fix-primary mb3 intro1 bo">
            <h1 class="f3 f1-l f1-m f1-ns lh-title mb3">
              <!-- {{.title}} -->
              We use <strong>data science</strong> and <strong>synthetic biology</strong> to discover and develop new medicines.
            </h1>
          </div>
        </div>
      </div>
    </div>
</div>
