::selection {
  background-color: var(--highlight);
}

.hideme {
  opacity: 0;
  padding-top:10px;
}

.intro1, .intro2, .intro3, .image-l {
  opacity: 0;
}

.intro1 {
  transform: scale(0.75);
  transition: transform 750ms ease-out;
}

.scaler {
  transform: scale(1);
}

.page {
  background: lightgrey;
}
.container {
  max-width: 1440px;
  background: white;
  margin: auto;
  overflow-x: hidden;
}

.nav-r {
  display: none;
}


/* Used in the navbar */
.divider-black .nav-p {
  box-shadow: inset 0 -4px 0 var(--black);
  /* Link hover states */
  & ul a:hover, & ul a:focus, & ul a:active {
    box-shadow: inset 0 -4px 0 var(--primary);
  }
}

.divider-black .nav-p .active {
  box-shadow: inset 0 -4px 0 var(--primary);
}

.sidenav .active {
  box-shadow: inset -4px 0 0 var(--primary);
  color: white;
}



.header-image {
  z-index: 0;
  position: relative;
  width: 100%;
}

.header-image-sm {
  z-index: 0;
  position: relative;
  width: 45%;
  margin-top: -20%;
  left: 70%;
  overflow-x:hidden;
}

.image-l {
  z-index: 0;
  position: relative;
  width: 45%;
  margin-top: -15%;
  left: -20%;
  overflow-x:hidden;
}

.home-header-text {
  z-index:1; 
  margin-top: -74%;
}

.header-text {
  z-index:1; 
  margin-top: -82%;
}

.header-text-low {
  margin-top: -6%;
}

.header-text-sm {
  z-index:1; 
  margin-top: -68%;
}


@media only screen and (max-width: 820px) {
  .nav-r {
    display: inline;
  }
  .nav-p {
    display: none;
  }
}


@media only screen and (max-width: 1200px) {
  .header-text {
    margin-top: -74%;
  }
  .header-text-low {
    margin-top: 0;
  }
}


@media only screen and (max-width: 420px) {
  .bg-fix-primary  {
    padding-right:3rem;
  }
  .bg-fix-secondary  {
    padding-right:0rem;
  }
}

@media only screen and (max-width: 375px) {
  .bg-fix-primary  {
    padding-right:1.7rem;
  }
}

