{{ define "main" }}

{{ partial "hero-sm" (dict "imageUrl" "/img/news-right.png" "title" "Jobs") }}

  <div class="mw7 ph5" style="margin-top:-10%">
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    <div class="flex justify-between grey-3">
      <p class="f6">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
    </div>
    <div class="cms mw6">
      <p>{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
    </div>
    <div class="pv3">
      <a href="/jobs" class="btn raise">« Back to jobs</a>
    </div>
  </div>
{{ end }}
